html, body {
  margin: 0;
  padding: 0;
}

.topBar {
  background-color: yellow;
  /*
  background-image: url('https://media1.giphy.com/media/gx54W1mSpeYMg/giphy.gif?cid=790b7611794908c3407dcb118116238f13e77595d7c26d69&rid=giphy.gif&ct=g');
  background-image: url('https://media.giphy.com/media/l4FGBILjNaCtLious/giphy.gif');
  background-image: url('https://media.giphy.com/media/8P4SDD5khxL4xKcXGJ/giphy.gif');
  */
}

.container {
  background-color: grey;
}

.sideBar {
  background-color: blue;
}

#sketchID {
  background-color: red;
}
